@font-face {
    font-family: Philosopher;
    src: url("./font/Philosopher-Bold.ttf"), url("./font//Philosopher-BoldItalic.ttf"), url("./font//Philosopher-Italic.ttf"), url("./font/Philosopher-Regular.ttf");
}

body {
    color: green;
    font-family: "Philosopher";
}

.sidebar {
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
}


/* Thiết lập chiều rộng của phần content */

.content {
    margin-left: 17%;
    ;
    overflow-x: hidden;
}

header {
    padding: 5px 11px
}

.dropdown1 {
    margin: 10px 0;
}

tr {
    padding: 10px;
}

table {
    width: 45%;
    border: 1px solid;
}

th {
    padding: 10px;
}

td {
    padding: 10px;
}

.product {
    border: 1px solid;
    width: 190px;
    height: 190px;
}

.img-product {
    display: block;
    width: 80%;
    height: 80%;
    margin: 0 auto;
}

.right-detail {
    margin: 12px 0;
}

.parentLI {
    display: block;
    position: relative;
    display: flex;
    margin: auto 10px;
}

.dropdown {
    list-style: none;
    margin: 0;
    padding: 0;
    display: none;
    position: absolute;
    top: 77%;
    left: 0;
    background-color: #333;
    padding: 10px;
}


/* .dropdown {} */

.test {
    display: inline-block;
    position: relative;
    margin-right: 20px;
}

.nameOfChild {
    display: block;
    padding: 10px;
    text-decoration: none;
}

.nav ul li:hover>.dropdown {
    display: block;
}

.parentLI:hover>.dropdown {
    display: block;
}

.test {
    display: block;
    margin: 10px 0;
}

.test .nameOfChild {
    color: #fff;
    text-decoration: none;
}

.test {
    padding: 0 !important;
}

.test a {
    padding: 0 !important;
}

.test:hover>a {
    color: red;
}