@font-face {
    font-family: Philosopher;
    src: url('./font/Philosopher-Bold.ttf'), url('./font//Philosopher-BoldItalic.ttf'), url('./font//Philosopher-Italic.ttf'), url('./font/Philosopher-Regular.ttf');
}

body {
    color: green;
    font-family: "Philosopher";
}